.loyalty-container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.title-text {
    font-weight: 700;
    color: #032d60;
}

.voucher-card {
    background-color: #f3f2f2;
    border: 1px solid #c9c7c5;
    transition: transform 0.2s;
}

.voucher-card:hover {
    transform: translateY(-2px);
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.voucher-value {
    font-weight: bold;
    color: #00853e;
    font-size: 1rem;
}

.voucher-code {
    font-family: monospace;
    color: #444;
    font-size: 0.9rem;
}

.voucher-expiry {
    font-size: 0.7rem;
    color: #706e6b;
}